*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
html{
  width: 100%;
  height: 100%;
  color: #222;
}
body{
height:100%;
}
#body{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 5%;
  
}

h1{
  font-size:1.5rem;
  text-transform:uppercase;
  
 }
h2{
  font-size:1rem;
  margin-bottom:1.5rem;
  text-transform:uppercase;
  
  padding:1rem 0; 
  line-height:0.5;
}
h3{
  font-size:0.5rem;
}
p{
  line-hight:1.5;
}
section+section{
  margin-top: 1.5rem;
}

a{
  text-decoration: none;
  color:inherit;
}
.profile {
  text-align:left;
}
.profileIMG{
  border-rectangle:9999px;
  width:15rem;
  height:15rem;
  border-radius: 5%;
}
.profile p{
  color: #888;
  padding-bottom: 5%;
  margin-botom: 1rem;
  font-size:1.5rem;
}
.contact ul{
  margin-top:-2rem;
}
.contact li{
  text-align:right;
  text-transform:uppercase;
  padding:1.20rem;
  
}

main{
  margin-top:5%;
}

#profDiv{
  padding-bottom:5%;
  border-bottom:1px solid #888;
}

#profSect{
  display: flex;
  justify-content:space-around;
}


#about{
  display: flex;
  justify-content: space-between;
}

.AboutMe{
  width: 40%;
}

.CONTACTS{
  width: 50%;
}

.CONTACTS li{
  line-height: 1.5;
}

.skill_name{
  margin-bottom:10px;
  margin-top:20px;
}

